[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "==2.1.0"
setuptools = "==69.0.2"
pydantic = "==2.5.2"
httpx = "==0.25.2"
yarl = "==1.9.3"
requests = "==2.31.0"
orjson = "*"

[dev-packages]

[requires]
python_version = "3.10"
